{% extends 'base.html.twig' %}

{% block title %}Referent{% endblock %}

{% block body %}
    <h1>Referent</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ referent.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ referent.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ referent.lastname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ referent.gender }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('referent_index') }}">retour</a>

    <div style="">
        <table id="referent_students" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Civilité</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Date de naissance</th>
                    <th>Spécialisation</th>
                    <th>Lycée</th>
                    <th>SRM</th>
                    <th>CIRFA</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#referent_students').DataTable({
                ajax: {
                    url: '{{ path('referent_students', {id: referent.id}) }}',
                    dataSrc: ''
                },
                columns: [
                    { data:'id'},
                    { data:'gender'},
                    { data:'firstname'},
                    { data:'lastname'},
                    { data:'city'},
                    { data:'birthdate'},
                    { data:'specialisation.name'},
                    { data:'school.name'},
                    { data:'srm.name'},
                    { data:'cirfa.city'},
                ],
            });
        } );
    </script>
{% endblock %}