{% extends 'base.html.twig' %}

{% block title %}Competence{% endblock %}

{% block body %}
    <h1>Competence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competence.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ competence.reference }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ competence.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_melec_competence_index') }}">retour</a>

    <a href="{{ path('admin_melec_competence_edit', {'id': competence.id}) }}">edit</a>

    {{ include('back/meleccompetence/_delete_form.html.twig') }}
{% endblock %}
