{% extends 'base.html.twig' %}

{% block title %}Tp index{% endblock %}

{% block body %}
    <h1>Tp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th {% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th {% if pagination.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'name') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tp in pagination %}
            <tr>
                <td>{{ tp.id }}</td>
                <td>{{ tp.name }}</td>
                <td>
                    <a href="{{ path('tp_show', {'id': tp.id}) }}">show</a>
                    <a href="{{ path('tp_edit', {'id': tp.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('back/partials/_pagination.html.twig') }}
    <a href="{{ path('tp_new') }}">Create new</a>
{% endblock %}
