{% extends 'base.html.twig' %}

{% block title %}Bordee index{% endblock %}

{% block body %}
    <h1>Bordee index</h1>

    <form action="{{ path('student_index') }}">
        <select name="bordee" id="">
            <option value="">Choisir une bordée</option>
            {% for bordee in bordees %}
                <option value="{{ bordee.id }}">{{ bordee.name }}</option>
            {% endfor %}
        </select>
        <select name="referent" id="">
        <option value="">Choisir un prof. principal</option>
            {% for referent in referents %}
                <option value="{{ referent.id }}">{{ referent.firstname ~ ' '  ~ referent.lastname }}</option>
            {% endfor %}
        </select>
        <button type="submit">Voir</button>
    </form>
{% endblock %}
