{% extends 'base.html.twig' %}

{% block title %}Tp{% endblock %}

{% block body %}
    <h1>Tp</h1>

    <a href="{{ path('student_tp_list', {"id": student.id}) }}" class="btn btn-primary">retour</a>

    <form action="">
        <table class="table table-striped table-bordered">
            <thead class="text-center">
                <tr>
                    <th colspan="4">Intitulé du TP: {{ tp.name }}</th>
                    <th>A</th>
                    <th>A</th>
                    <th>AP</th>
                    <th>NA</th>
                    <th>NO</th>
                    <th colspan="3">Niveau d'autonomie</th>
                </tr>
                <tr>
                    <th colspan="4">A: Acquis - AP: Acquis partiellement - NA: non acquis - NO: non observé</th>
                    <th>Très bien</th>
                    <th>Satisfaisant</th>
                    <th>Insuffisant</th>
                    <th>Très insuffisant</th>
                    <th>Non mis en oeuvre</th>
                    <th>Autonomie complète</th>
                    <th>Aide partielle</th>
                    <th>Aide totale</th>
                </tr>
            </thead>
        
            <tbody>

                {% for task in tp.task %}
                    {% for competence in task.competences %}
                        <tr>
                        
                            {% if loop.first %}
                                <th rowspan="{{ task.competences|length }}">{{ task.reference }}</th>
                                <th rowspan="{{ task.competences|length }}">{{ task.name }}</th>
                            {% endif %}
                            <th>{{ competence.reference }}</th>
                            <th>{{ competence.name }}</th>
                            <td class="text-center"><input type="radio" name="{{task.reference}}-note" id=""></td>
                            <td class="text-center"><input type="radio" name="{{task.reference}}-note" id=""></td>
                            <td class="text-center"><input type="radio" name="{{task.reference}}-note" id=""></td>
                            <td class="text-center"><input type="radio" name="{{task.reference}}-note" id=""></td>
                            <td class="text-center"><input type="radio" name="{{task.reference}}-note" id=""></td>
                            <td class="text-center"><input type="radio" name="{{task.reference}}-autonomie" id=""></td>
                            <td class="text-center"><input type="radio" name="{{task.reference}}-autonomie" id=""></td>
                            <td class="text-center"><input type="radio" name="{{task.reference}}-autonomie" id=""></td>
                        </tr>

                    {% endfor %}
                

                {% endfor %}

            </tbody>

        </table>

        <button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
    </form>
{% endblock %}
