{% extends 'base.html.twig' %}

{% block title %}Srm index{% endblock %}

{% block body %}
    <h1>Srm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th {% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th {% if pagination.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'name') }}</th>
                <th {% if pagination.isSorted('email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for srm in pagination %}
            <tr>
                <td>{{ srm.id }}</td>
                <td>{{ srm.name }}</td>
                <td>{{ srm.email }}</td>
                <td>
                    <a href="{{ path('admin_srm_show', {'id': srm.id}) }}">show</a>
                    <a href="{{ path('admin_srm_edit', {'id': srm.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('back/partials/_pagination.html.twig') }}
    <a href="{{ path('admin_srm_new') }}">Create new</a>
{% endblock %}
