{% extends 'base.html.twig' %}

{% block title %}Bac Pro SN - Liste des tâches{% endblock %}

{% block body %}
    <h1>Liste des tâches</h1>
    
    {#<a href="{{ path('admin_sn_task_new') }}">Créer un nouveau</a>#}
    
    <table id="sn_tasks_list" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Intitulé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('admin_specialisation_edit', { id: specialisation.id }) }}">retour</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("DataTables-1.10.18/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("DataTables-1.10.18/js/dataTables.bootstrap4.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("Buttons-1.5.4/js/dataTables.buttons.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("Buttons-1.5.4/js/buttons.bootstrap4.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("Responsive-2.2.2/js/dataTables.responsive.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("Responsive-2.2.2/js/responsive.bootstrap4.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("RowGroup-1.1.0/js/dataTables.rowGroup.min.js") }}"></script>
    <script type="text/javascript">
        var listUrl = '{{ path('api_sn_tasks_list')|escape('js') }}';
    </script>
    <script type="text/javascript" src="{{ asset("js/back/sntaskDatatable.js") }}"></script>
{% endblock %}