{% extends 'base.html.twig' %}

{% block title %}Admin accueil{% endblock %}

{% block body %}

    <h1>Bienvenue sur l'espace d'administration</h1>

    <div class="card-columns cc-sm-1 cc-md-2 m-lg-5">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les centre d'information de recrutement forces armées</h5>
                <p class="card-text">Accéder à la listes des CIRFA</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_cirfa_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les professeurs principaux</h5>
                <p class="card-text">Accéder à la listes des Professeurs principaux</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_referent_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les lycées</h5>
                <p class="card-text">Accéder à la listes des lycées</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_school_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les compétences</h5>
                <p class="card-text">Accéder à la listes des compétences</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_competence_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les bordées</h5>
                <p class="card-text">Accéder à la listes des bordées</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_bordee_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les spécialisations</h5>
                <p class="card-text">Accéder à la listes des spécialisations</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_specialisation_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les services de recrutement de la marine</h5>
                <p class="card-text">Accéder à la listes des services de recrutement de la marine</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_srm_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les étudiant</h5>
                <p class="card-text">Accéder à la listes des étudiant</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_student_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les tâches</h5>
                <p class="card-text">Accéder à la listes des tâches</p>
                <p class="card-text text-right">
                    <a href="{{ path('admin_task_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ajouter des élèves</h5>
                <p class="card-text">Importer une bordée d'élève d'un fichier excel</p>
                <p class="card-text text-right">
                    <a href="{{ path('students_add') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Administration</h5>
                <p class="card-text">Accéder à l'interface d'aministration des tables</p>
                <p class="card-text text-right">
                    <a href="{{ path('easyadmin') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Travaux Pratiques</h5>
                <p class="card-text">Gérer / modifier les TPs</p>
                <p class="card-text text-right">
                    <a href="{{ path('tp_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

    </div>

{% endblock %}
