{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th {% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th {% if pagination.isSorted('reference') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Référence', 'reference') }}</th>
                <th {% if pagination.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'name') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in pagination %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.reference }}</td>
                <td>{{ task.name }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('back/partials/_pagination.html.twig') }}
    <a href="{{ path('task_new') }}">Create new</a>
{% endblock %}
