<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ asset("Bootstrap-4-4.1.1/css/bootstrap.min.css") }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("DataTables-1.10.18/css/dataTables.bootstrap4.min.css") }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("Buttons-1.5.4/css/buttons.bootstrap4.min.css") }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("Responsive-2.2.2/css/responsive.bootstrap4.min.css") }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("RowGroup-1.1.0/css/rowGroup.bootstrap4.min.css") }}"/>
        <link rel="stylesheet" href="{{ asset("css/app.css") }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('/partials/__header.html.twig') }}
        <div class="content">
            <div class="container">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-4">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            
            {% block body %}{% endblock %}
        </div>
            {{ include('/partials/__footer.html.twig') }}

        <script type="text/javascript" src="{{ asset("jQuery-3.3.1/jquery-3.3.1.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("Bootstrap-4-4.1.1/js/bootstrap.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("DataTables-1.10.18/js/jquery.dataTables.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("DataTables-1.10.18/js/dataTables.bootstrap4.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("Buttons-1.5.4/js/dataTables.buttons.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("Buttons-1.5.4/js/buttons.bootstrap4.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("Responsive-2.2.2/js/dataTables.responsive.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("Responsive-2.2.2/js/responsive.bootstrap4.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("RowGroup-1.1.0/js/dataTables.rowGroup.min.js") }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>