{% extends 'base.html.twig' %}

{% block title %}Referent{% endblock %}

{% block body %}
    <h1>Referent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ referent.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ referent.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ referent.lastname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ referent.gender }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_referent_index') }}">retour</a>

    <a href="{{ path('admin_referent_edit', {'id': referent.id}) }}">edit</a>

    {{ include('back/referent/_delete_form.html.twig') }}
{% endblock %}
