{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th {% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th {% if pagination.isSorted('city') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Ville', 'city') }}</th>
                <th {% if pagination.isSorted('lastname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'lastname') }}</th>
                <th {% if pagination.isSorted('firstname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Prénom', 'firstname') }}</th>
                <th {% if pagination.isSorted('gender') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Sexe', 'gender') }}</th>
                <th {% if pagination.isSorted('birthplace') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Lieu de naissance', 'birthplace') }}</th>
                <th {% if pagination.isSorted('birthdate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date de naissance', 'birthdate') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in pagination %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.city }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.birthplace }}</td>
                <td>{{ student.birthdate ? student.birthdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('admin_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('back/partials/_pagination.html.twig') }}
    <a href="{{ path('admin_student_new') }}">Create new</a>
{% endblock %}
