{% extends 'base.html.twig' %}

{% block title %}Cirfa index{% endblock %}

{% block body %}
    <h1>Cirfa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th {% if pagination.isSorted('id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th {% if pagination.isSorted('city') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Ville', 'city') }}</th>
                <th {% if pagination.isSorted('number') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Numéro', 'number') }}</th>
                <th {% if pagination.isSorted('email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cirfa in pagination %}
            <tr>
                <td>{{ cirfa.id }}</td>
                <td>{{ cirfa.city }}</td>
                <td>{{ cirfa.number }}</td>
                <td>{{ cirfa.email }}</td>
                <td>
                    <a href="{{ path('cirfa_show', {'id': cirfa.id}) }}">show</a>
                    <a href="{{ path('cirfa_edit', {'id': cirfa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('back/partials/_pagination.html.twig') }}
    <a href="{{ path('cirfa_new') }}">Create new</a>
{% endblock %}
